.container {
    min-height: 100vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

.header{
  display: flex;
  justify-content: space-between;
}


.header img{
  height: 70px;
  width: 280px;
  margin-right: 10px;
}

  .search {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1.5rem;
    margin-left: -7.2rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin-left: 2.5rem;
  }
  
  @media (min-width: 640px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }


.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1.5rem;
  }